<h1><%= t("views.events.password.access") %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label t("views.events.password.pincode"), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to t("views.events.password.link"), events_path %>
