<h1><%= t 'views.event_mailer.comment.title' %></h1>
<hr/>
<%= t 'views.event_mailer.comment.text' %> <strong><%= @comment.body %></strong>
<p><%= t 'views.event_mailer.comment.author' %> <strong><%= @comment.username %></strong></p>

<hr/>

<%= t 'views.event_mailer.comment.event' %> <strong><%= link_to @event.title, @event%></strong>

<p><%= t 'views.event_mailer.comment.datetime' %> <strong><%= l @event.datetime %></strong></p>

<p><%= t 'views.event_mailer.comment.owner' %> <strong><%= @event.user.username %></strong></p>
